<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
    />

    <title>Roadmap for <%= roadmap.topic %></title>
  </head>

  <body
    style="
      background-color: rgb(38, 38, 141);
      color: aliceblue;
      padding-bottom: 20px;
    "
  >
    <main class="container mt-5">
      <h1>Roadmap for <%= roadmap.topic %></h1>
      <ol class="list-group">
        <% for( let index = 0; index < roadmap.steps.length; index++ ) { %>

        <div style="margin: 5px; border-radius: 3px">
          <li
            class="list-group-item"
            style="background-color: rgb(196, 133, 255)"
          >
            <p style="display: inline; font-weight: bold">
              <%= roadmap.steps[index] %>
            </p>
            <a href="<%= roadmap.resources[index] %>" target="_blank">
              @docs
            </a>
            <ul>
              <li><%= roadmap.prerequisites[index] %></li>
            </ul>
          </li>
        </div>

        <% } %>
      </ol>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
